    body{
      color: #212121;
      font-family: sans-serif;
      margin: 0;
    }
    
    nav a {
        text-decoration: none;
        color: #F5F5F5;
        background-color: #9E9E9E;
        border-radius: 2px;
        margin: 5px;
        padding: 5px;
        display: inline-block;
        transition: 1s all;
        
    }
    
      nav a:hover{
        background-color: #727272;  
      }
    
    header {
        text-align: center;
    }
      
    header img{
        border-radius: 50%;
    }  
    
    header h1{
       font-family: 'Roboto Condensed', sans-serif;
    }
    
    h2{
      color: #1FCCB2;
    }
    
    section{
        text-align: center;
        background-image: url(https://s3.amazonaws.com/StartupStockPhotos/20140808_StartupStockPhotos/53.jpg);
        height: 400px;
        background-size: cover;
    }

#features {
  background-image: none;
  background-color: #C0C0C0;
  height: 250px;
}


p {
  color: #FFF;
  background-color:#E0E066;
  font-family: Impact, Haettenschweiler, “Arial Bold”, sans-serif; "Poiret One", cursive;
  margin: 15px;
  padding: 20px;
  width: 200px;
  display: inline-block;
}
    p:hover{
transform: rotate(-9deg);
}

button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 2px;
  padding: 5px;
  margin-top: 40px;
  opacity: .8;
 
}

#top a {
    text-decoration: none;
    color:#6bc20d;
}

#top {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
    margin-top: 0px;
    text-align: center;
}
 
#top a {
    margin: 0;
    padding: 5px;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    font-size: 18px;
    transition: .4s;
    -o-transition-transition: .4s;
    -webkit-transition-duration: .4s;
    -moz-transition-duration: .4s;
}
 
#top a:hover {
    color: #000000;
    background-color: #00ffff;
    font-size: 20px;
    transition: .4s;
    -o-transition-transition: .4s;
    -webkit-transition-duration: .4s;
    -moz-transition-duration: .4s;
    }
    
footer {
  text-align: center;
  background: black;
  color: white;
 }
 
#footer a {
    text-decoration: none;
}
